html {
    height: 100%;
}  

.nf {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nf__note {
    font-size:22px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper__inner {
    flex: 1 0 auto;
}

.i-container {
    max-width: 1310px;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.i-flex {
    display: flex;
}

.i-flex_justify_gorizontal {
    justify-content: space-between;
}

.i-flex_justify_vertical {
    align-content: space-between;
}

.i-flex_justify_all {
    justify-content: space-between;
    align-content: space-between;
}

.i-flex_align_center {
    align-items: center;
}


header.header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu__item {
    padding: 0 10px;
}

.content {
    padding-top: 15px;
    padding-bottom: 15px;
}


footer.footer {
    flex: 0 0 auto;
}